body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    margin:0;
    padding:0;
    background: #000000;
    height: 100%;
    width: 100%;
}

h1 {
    margin: 10vh 2vh;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px #3C00FF, 0 0 70px #0040FF, 0 0 80px #0040FF, 0 0 100px #0040FF, 0 0 150px #0040FF;
}

canvas {
    z-index: -2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #071333;
}

.bottom-cityscape {
   position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
    z-index: -1;
    background: url(../img/cityscape.png) repeat-x;
}

.selector {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    width: 60vh;
}

.selector li {
    color: #A9AFBE;
    padding: 10px;
    background-color: #202930;
}

.selector li a {
    color: #646C79;
    text-decoration: none;
    display: block;
}

.select-title {
    background-color: #393D49 !important;
}

#level-container {
    display: none;
}

#main-settings-container {
    display: none;
}

/* Switches, Source: https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
    display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #204e99;
}

input:focus + .slider {
  box-shadow: 0 0 1px #204e99;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.main-container {
    margin-bottom: 20px
}